

<h1>
  Quiz
</h1>

<!-- use interpolation for the h1 to put the quiz number in-->

<!-- this is formatted to display quizzes  -->

<ul *ngIf="quizzes">
  <li *ngFor="let quiz of quizzes.results">
    <p>{{ quiz.question }}</p>
    <ul>
      <li> <input type="radio" name ="wrong"> {{ quiz.correct_answer }} </li>
      <li *ngFor="let answer of quiz.incorrect_answers"> <input type="radio" name = "wrong"> {{ answer }} </li>
    </ul>
  </li>
</ul>

<button id = "quiz-btn" class="btn btn-lg btn-primary btn-block">Submit Quiz</button>
