<!-- not working -->

<h1>
  Quiz
</h1>

<!-- here, add in your logic for displaying the quiz -->

<!-- use interpolation for the h1 to put the quiz number in-->

<!-- this needs formatting -->
<!-- <ul *ngFor="let quiz of quizzes.results"> {{ quiz.question }} : {{ quiz.difficulty }} </ul>
<input type="radio" *ngFor="let answer of quiz.incorrect_answers"> {{ answer }}<br>
<input type="radio"> {{ quiz.correct_answer }} <br> -->

<!-- <ul> 
    <li *ngFor="let quiz of quizzes.results">
      {{ quiz.question }} {{ quiz.difficulty }}
    </li>
    <li *ngFor="let answer of quiz.incorrect_answers"> {{ answer }}
    </li>
    <li>
       {{ quiz.correct_answer }}
    </li>
</ul> -->

<ul *ngIf="quizzes">
    <li *ngFor="let quiz of quizzes.results">
      <p>{{ quiz.question }}}</p>
      <ul>
        <li> {{ quiz.correct_answer }} </li>
        <li *ngFor="let answer of quiz.incorrect_answers"> {{ answer }} </li>
      </ul>
      
    </li>
    
    
      <!-- <li *ngFor="let answer of quiz.incorrect_answers"> 
       {{ answer }}
      </li> -->
      <!-- <li> 
        {{ quiz.correct_answer }} 
      </li> -->
    
  </ul>
