<h1>

  This page should allow the user to create a quiz



</h1>>
<h3>

  skerttt See Wezley's notes on strtuctural and attribute-directies, also data binding
</h3>
<!-- hopefully this button will generate a random question-->
<input (click)="generateQuestion()" type="submit" value="Generate A Question" class="inputButton"/>


<!-- 
  have an empty question generator that asks for:
  1. title of quiz
  2. 10 blank questions with 4 answer choices
  3. 
-->

<!-- 
  when the user clicks the option to generate a random question, use this API link:
https://opentdb.com/api.php?amount=1
-->