<!-- This is the NavBar! Yay! Hooray! -->



  <nav id = "navbar-main" class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:blueviolet">
    <a class="navbar-brand" routerLink="/landing">Takoot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/landing">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" routerLink="/games">Games</a>
        <a class="nav-item nav-link justify-content-end" routerLink="/login">Login</a>
        <a class="nav-item nav-link justify-content-end" routerLink="/register">SignUp</a>
      </div>
    </div>
   </nav>




