
<!-- BootStrap here, for a list/section of cards -->

<div id = "games-jumbo" class="jumbotron">
  <h1 class="display-4">Takoot Games</h1>
  <p class="lead">Play some of the most fun and exciting trivia games in the world! </p>
  <hr class="my-4">
  <p>Below are games provided by Takoot. Choose from a variety of different categories. </p>
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->


<!-- add card groups -->

<!-- on this view, when the user clicks a button on the card, it should take them to the quiz component-->

<div class="card-deck">
  <div class="card text-white bg-dark mb-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">TV Category</h5>
      <p class="card-text"> Television</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <!-- here, you should have event binding for playQuiz -->
      <a routerLink="/quiz" class="btn" style="background-color:blueviolet; color:white">Play Game</a>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Animals Category</h5>
      <p class="card-text">Animals Animals</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a routerLink="/quiz" class="btn" style="background-color:blueviolet; color:white">Play Game</a>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Sports Category</h5>
      <p class="card-text"> Sports and More Sports</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a routerLink="/quiz" class="btn" style="background-color:blueviolet; color:white">Play Game</a>
    </div>
  </div>
</div>

<!-- this button should be a dynamic modal
  use a ngFor to only display this modal if a user quiz exists-->
  <!-- <div class="card text-white bg-dark mb-3"> -->
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <!-- <div class="card-body">
        <h5 class="card-title">User Quiz</h5>
        <p class="card-text"> Test</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a routerLink="/user-quizzes" class="btn" style="background-color:blueviolet; color:white">Play User Created Game</a>
      </div> 
      <br>
</div>  -->
<br>
<br>
<div class="text-center">
    <h5><a click="getAllQuizzes()"routerLink="/user-quizzes" id="">*Click here to play games made by other Takooters*</a></h5>
</div>
</div> <!-- div for the jumbotron-->
