
<!-- BootStrap here, for a list/section of cards -->

<div id = "games-jumbo" class="jumbotron">
  <h1 class="display-4">Takoot Games</h1>
  <p class="lead">Add a blurb about playing games! </p>
  <hr class="my-4">
  <p>Below is a list of games....... blah blah blah.. </p>
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->


<!-- add card groups -->

<div class="card-deck">
  <div class="card text-white bg-dark mb-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn" style="background-color:blueviolet; color:white">Play Game</a>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn" style="background-color:blueviolet; color:white">Play Game</a>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn" style="background-color:blueviolet; color:white">Play Game</a>
    </div>
  </div>
</div>


</div> <!-- div for the jumbotron-->
