
<div id ="container" class ="text-center">
    <h4> ID: </h4>
<h4 id="idTag"> 3</h4>

<hr/>

<h4>First Name: </h4>
<h4 id="firstnameTag"> 3</h4>

<hr/>

<h4 > Last Name: </h4>
<h4 id="lastnameTag" >3 </h4>

<hr/>

<h4 > Username: </h4>
<h4 id="usernameTag" >3 </h4>

<hr>

<h4 > Password: </h4>
<h4 id="passwordTag" > 3</h4>

<hr>

<h4 >Email: </h4>
<h4 id="emailTag" > 3</h4>
<hr>
<br>
<br>

<!-- <input id = "update"  (click)=update()  type="submit" value="Update Profile" class="inputButton" /> -->
<div class="btn-group mr-2" role="group" aria-label="First group">
<button id = "update"  type="submit" value="Update Profile" class="btn btn-info" routerLink="/update-profile">Update My Profile</button>
</div>

<div class="btn-group mr-2" role="group" aria-label="Second group">
<button id = "return"  type="submit" value="Dashboard" class="btn btn-info" routerLink="/dashboard">Back To Dashboard</button>
</div>


<br>
</div>
