<!-- 
  for the dashboard, we need a few things:
      1. side bar/column/nav with profile information
          a. My Games button (questions by author id)
          b. Edit Profile button
      2. cards to display Play, Create, Search, View Leaderboards
      3. Final bottom card for User Stats
-->

<!-- <div class="wrapper"> -->

<!-- Sidebar -->
<!-- <nav id="sidebar">
    <div class="sidebar-header">
      <h3>User Profile</h3>
    </div>

    <ul class="list-unstyled components">
      <li> -->
<!-- myGames should pop up a modal to show a list of games from that user -->
<!-- <a routerLink="">My Games</a> 
      </li>

      <li> -->
<!-- edit profile should pop up a modal -->
<!-- <a routerLink="">Edit Profile</a> 
      </li>
    </ul>

  </nav> -->

<!-- Page Content -->
<!-- <div id="content">
      <h1> My Dashboard</h1>
  </div>

</div>  -->




<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">

        <!-- NEEDS ROUTER LINK!!!!!-->
        <a class="nav-link" routerLink="">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
            <polyline points="13 2 13 9 20 9"></polyline>
          </svg>
          My Quizzes
        </a>
      </li>
     
      <!-- NEEDS ROUTER LINK!!!!!! -->
      <li class="nav-item">
        <a class="nav-link" routerLink="" >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
          Profile
        </a>
      </li>

      <!-- should these be modals??????-->
      <!-- NEEDS ROUTER LINK!!!!!!! -->
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
            <line x1="18" y1="20" x2="18" y2="10"></line>
            <line x1="12" y1="20" x2="12" y2="4"></line>
            <line x1="6" y1="20" x2="6" y2="14"></line>
          </svg>
          View My High Scores
        </a>
      </li>
    
    </ul>

  </div>
</nav>