<div class="container">
    <div class="col-md-6">
    <div id="logbox">
      <form id="update" action="/">
        <h1>Update User</h1>
        <input id="username" name="user[username]" type="text" placeholder="username" autofocus="autofocus" required="required" class="input fn"/>
        <br/>
        <input id= "fn" name="user[fn]" type="text" placeholder="firstname" autofocus="autofocus" required="required" class="input ln"/>
        <br/>
        <input id="ln" name="user[ln]" type="text" placeholder="lastname" autofocus="autofocus" required="required" class="input username"/>
        <br/>
        <input id="password" name="user[password]" type="password" placeholder="password" required="required" class="input pass"/>
        <br/>
        <input id="email" name="user[email]" type="password" placeholder="email" required="required" class="input pass"/>
        <br/>
        <input id = "register" (click)= "updateUser()" type="submit" value="Update!" class="inputButton" />
  
      </form>
    </div>
   </div>
